<link rel="stylesheet" href="style.css">
<div style="background-image: url('https://raw.githubusercontent.com/1SzatmariAndras6/TAVKOZLES/refs/heads/main/JEGYZOKONYV/sotet-hatterkep-692968.jpg'); background-size: cover; height: 400px; color: white; display: flex; justify-content: center; align-items: center; text-align: center;">
